---
layout: archive
author_profile: true
---

I am interested in building AGI and creating AI tools that enhance our core capabilities. Before starting <a href="https://csm.ai/" style="color: rgb(0,255,0)">Common Sense Machines</a>, I was a Senior Scientist at Google DeepMind in the Deep Learning and Unsupervised Reinforcement Learning team. 
Before that I was a PhD student at MIT in Josh Tenenbaum's group in the Brain & Cognitive Sciences and CSAIL departments. 

Currently I am interested in building an AI learns to create and program 3D worlds. 

<section>
	<ul>

		{% for post in site.posts %}

		<li>
			<div class="post-date">
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</div>
		</li>

		{% endfor %}

	</ul>
</section>

<!-- {% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
 -->
